/*
Inter Weights 400 + 600
*/

body {
    font-family: 'Inter', sans-serif;
}

/*base styles
*/
p {
    font-size: 18px;
}

header {
    background-image: url('../img/header.jpg');
    background-size: cover;
    height: 68vh;
}

header .inner {
    margin: 0 auto;      
    max-width: 1280px;
}

nav {
    display:none;
}

h1 {
    font-size:14px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing: 1px;
    background-color:rgba(255,255,255,.4);
    padding:1rem;
}

.menu-button {
    border: 1px solid transparent;
    background-color:rgba(255,255,255,.4);
    padding:1rem;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
}

.intro {
    text-transform: uppercase;
    padding: 6rem 1rem 1rem 1rem;
    max-width:517px;
    line-height: 29px;
    letter-spacing: 1px;
}